@font-face {
    font-family: 'BigShouldersDisplay-Bold';
    src: url("../fonts/BigShouldersDisplay-Bold.ttf");
}

@font-face {
    font-family: 'LexendDeca-Regular';
    src: url("../fonts/LexendDeca-Regular.ttf");
}